
@import "~@marcius-studio/vue-notice/static/main.scss";
@import "~@marcius-studio/vue-notice/static/themes/mint.scss";


/*
--background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0,0,0,.65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    background: var(--background-color);
    color: var(--text-color);
    word-wrap: break-word;

*/

html {
    overflow-y: hidden;
}

html, body, .v-application, .v-application--wrap {
	height: 100%;
}

.c-hand {
	cursor: pointer;
}

.height100 {
	height: 100%;
}

.content {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	height: 100%;

	.content-header {
	}

	.content-body {
		overflow-y: auto;
	}

	.content-footer {
	}
}